{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <h1>Titre : {{ book.title }}</h1>
    <h2>Auteur : {{ book.author.fullname }}</h2>
    <h2> Référence : {{ book.reference }}</h2>
    <h2>{{ book.createdAt|date('d M Y') }}</h2>
    <ul>
    {% for category in book.category  %}
        <li>
            <a href="{{ path('category_show',{'id':category.id}) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
